<html xmlns="http://www.w3.org/1999/xhtml">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<body>

<form action="#" th:action="@{/clients/phone-form}" th:object="${phone}" method="post">
    Номер: <input type="text" name="number" id="number" th:field="*{number}"/><br/>
    <input type="submit" value="Submit" class="btn btn-primary"/>
    <input type="hidden" id="clientId" name="clientId" th:value="${clientId}">
</form>

</body>
</html>
